<side-menu panOpen={{sideMenuOpen}} isPanning={{sideMenuIsPanning}} routeName={{currentRouteName}}>
  <ul>
    <side-menu-item action="gotoDefaultList" routeName={{currentRouteName}} pattern="^list">Default List</side-menu-item>
    <side-menu-item action="gotoDragList" routeName={{currentRouteName}} pattern="^drag-list">Drag List</side-menu-item>
    <side-menu-item action="goto500List" routeName={{currentRouteName}} pattern="^five-hundred">500 List</side-menu-item>
    <side-menu-item action="gotoFireQuery" routeName={{currentRouteName}} pattern="^fire-query">Fire query</side-menu-item>
    <side-menu-item >Placeholder</side-menu-item>
    <side-menu-item >Placeholder</side-menu-item>
  </ul>
</side-menu>

<app-overlay id="app-overlay" isActive={{appOverlayIsActive}} />


<div id="app-content">

  <header-menu id="app-header" items={{appMenuItems}} itemHeight=30>
    <h1 id="app-title">Mobile Patterns</h1>
  </header-menu>
  
  <header-menu id="app-sub-header" items={{appSubMenuItems}} itemHeight=30>
     Sub header here
  </header-menu>

  <button {{action 'addItem'}}>Add sub-header item</button>
  <button {{action 'removeItem'}}>Remove sub-header item</button>
  <hr>
  <button {{action 'openModal'}}>Open modal</button>
  <hr>

  {{outlet}}

  <footer-menu id="app-footer" items={{appFooterMenuItems}} itemHeight=26 >
     Footer here
  </footer-menu>

</div>

{{outlet 'modal'}}
