<side-menu-overlay progress={{sideMenuProgress}} updateProgress="updateProgress"></side-menu-overlay>

<side-menu progress={{sideMenuProgress}} updateProgress="updateProgress">
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
</side-menu>


<div id="app-content">
  <h2 id="title">Welcome to Ember.js</h2>

  <header id="app-header">
    <div class="content">
      <h1 id="app-title" {{action 'toggleHeaderMenu'}}>Mobile Patterns</h1>
    </div>
    
    <header-menu>
      <ul {{action 'toggleHeaderMenu'}}>
        <li>option 1</li>
        <li>option 2</li>
        <li>option 3</li>
      </ul>
    </header-menu>

  </header>

  <subheader id="app-sub-header">
    <div class="content" {{action 'toggleSubHeaderMenu'}}></div>
    <sub-header-menu>
      <ul {{action 'toggleSubHeaderMenu'}}>
        <li>option 1</li>
        <li>option 2</li>
        <li>option 3</li>
      </ul>
    </sub-header-menu>

  </subheader>

  {{outlet}}

</div>