<side-menu-overlay progress={{sideMenuProgress}} updateProgress="updateProgress"></side-menu-overlay>

<side-menu progress={{sideMenuProgress}} updateProgress="updateProgress">
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
</side-menu>


<div id="app-content">

  <header-menu id="app-header" items={{appMenuItems}} itemHeight=30>
    <h1 id="app-title">Mobile Patterns</h1>
  </header-menu>

  <header-menu id="app-sub-header" items={{appSubMenuItems}} itemHeight=30>
     Sub header here
  </header-menu>

  <button {{action 'addItem'}}>Add sub-header item</button>
  <button {{action 'removeItem'}}>Remove sub-header item</button>

  {{outlet}}

</div>