
<div>
  List items pan horizontally open. Each item should ease back to it's starting state of being either fully opened or closed depending on the dist  ance panned.
  When dragging in an arc, only the starting item should be set as the target until the panEnd event is triggered.
</div>

<button {{action 'toggleEditMode'}}>Edit mode</button>


<div class="list-container no-select">
{{#each item in items}}
  <div class="list-item">
    
    <div class="list-check">
      <input type="checkbox" />
    </div>

    <pan-item width=200 duration=200>
      {{item}}    
    </pan-item>

    <div class="list-item-option">
      {{fa-icon "camera" size="lg"}}
      {{fa-icon "edit" size="lg"}}
      {{fa-icon "envelope" size="lg"}}
      {{fa-icon "flag-o" size="lg"}}  
      {{fa-icon "heart" size="lg"}}
      {{fa-icon "comment-o" size="lg"}}
      {{fa-icon "cloud-download" size="lg"}}
    </div>
  </div>

{{/each}}
</div>
